.white-bg{
    background-color:white; 
}
body{
    background-color: #f9f9f9;
}
.changerow {
    margin-right: -14px;
    margin-left: -16px;
}
.titlebar{
    height: 30px;
    color: #999;
    line-height: 30px;
    background-color: #e3e4e5;
}
.style-red{
    color:#f10215 !important;
}
.list-group{
    margin: 0;
}
.titlebar a,
.service-item a{
    color: #999;
}
.titlebar a:hover,
.service-item a:hover{
    color: #c81623;
    text-decoration: none;
}
.margin-center{
    margin-left : 50%;
    transform: translate(-50%,0)
}
.top-search{
    margin-top: 2em;
    margin-bottom: 3em;
}
.top-search .input-group .form-control{
    border: 1px red solid;
    border-radius: 0;
    width: 450px;

}
.top-search .input-group button{
    border: 1px red solid;
    border-radius: 0;
}
.modify-padding{
    padding:0 2px;
    margin: 0;
}

.modify-bg-color{
    background-color: white;
    border:none;
    border-radius: 0 !important;
    /* padding: 10px 5px; */
}
.modify-bg-color a{
    color: #6e6568;
}
/* 轮播图图片调整 */
.carousel-inner div img{
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
    width: 100%;
}
.border-padding{
    padding: 0;
    border: 0;
    margin-top: 5px;
}
.thumbnail-anim:hover img{
    transform: translateY(-3px);
}
.thumbnail-anim img{
    transition: transform .4s ease;
    transform: translateY(0);
    
}
.img-circle{
    max-height: 96px;
    min-height:96px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.info-login{
    width: 168px;
    text-align: center;
    margin-bottom: 10px; 
}
.service_list{
    list-style: none;
    padding: 0;
}
.service{
  overflow: hidden;  
}
.service-item{
    height: 65px;
    text-align: center;
    padding:0;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    padding-top: 10px;

}
.service-item span{
    display: block;
}
/* .service-item a{
    padding-top: 10px;
} */
.service-item .service-icon{
    margin: 0 auto;
    background-image:url(../image/sprite_fs@1x.png) ;
    background-repeat:no-repeat;
    width: 24px;
    height: 24px;
}
.service_list li:nth-child(1) .service-icon{
    background-position: 0px -87px;
}
.service_list li:nth-child(2) .service-icon{
    background-position: 0px -44px;
}
.service_list li:nth-child(3) .service-icon{
    background-position: -44px -87px;
}
.service_list li:nth-child(4) .service-icon{
    background-position: -88px -0px;
}
.service_list li:nth-child(5) .service-icon{
    background-position: -88px -43px;
}
.service_list li:nth-child(6) .service-icon{
    background-position: 0px 0px;
}
.service_list li:nth-child(7) .service-icon{
    background-position: -44px -44px;
}
.service_list li:nth-child(8) .service-icon{
    background-position: -87px -87px;
}
.service_list li:nth-child(9) .service-icon{
    background-position: -133px 0px;
}
.service_list li:nth-child(10) .service-icon{
    background-position: -130px -43px;
}
.service_list li:nth-child(11) .service-icon{
    background-position: -132px -87px;
}
.service_list li:nth-child(12) .service-icon{
    background-position: -43px 0px;
}
.service-item .service-txt{
    height:22px;
    line-height: 22px;
    margin-top: 2px;
}
.service-item a:hover .service-icon{
    background-image: url(../image/sprite_fs_hover@1x.png);
}
.padding-notleft{
    padding-left: 0;
}
.padding-notright{
    padding-right:0;
}
.jd-style-head1,
.jd-style-head2,
.jd-style-head3{
    border-radius: 0 !important;
    padding: 15px 30px;
}
.jd-style-head1{
    background-color: #974676 !important;
}
.jd-style-head2{
    background-color: #cd375e !important;
}
.jd-style-head3{
    background-color: #488bac !important;
}
.jd-style-font{
    font-size: 22px;
    color:white;
}
a:hover{
    text-decoration: none !important;
}
.panel-body .thumbnail{
    margin-bottom: 0;
    text-decoration: none;
}
.caption p{
    font-size: 12px;
    color:#666;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
}
.caption p:hover{
    color:#f10215;
    /* text-decoration: none; */
}
.caption .info-price{
    color:#f10215;
    margin: 0;
    height: 16px;
}
.panel-body .border-right{
    border-right: 1px solid #e7e7e7;
}
.like_bg{
  height: 36px;
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  margin-top: 5px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAADCAMAAAB/P3U+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkJEODlEQkUxNzk2NjExRTY5OTdDQkQ2NDRFQjFCNUU1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkJEODlEQkUyNzk2NjExRTY5OTdDQkQ2NDRFQjFCNUU1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QkQ4OURCREY3OTY2MTFFNjk5N0NCRDY0NEVCMUI1RTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QkQ4OURCRTA3OTY2MTFFNjk5N0NCRDY0NEVCMUI1RTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7GI6sZAAAAD1BMVEXa2trExMTBwcHDw8P///8QPEuGAAAABXRSTlP/////APu2DlMAAAAZSURBVHjaYmBgZGCBAwZmJkYkHoocQIABAAogAIEAYnZPAAAAAElFTkSuQmCC") repeat-x 0 18px;
  margin-bottom: 15px;
}
.like_bg h3{
    display: inline;
    padding: 0 50px;
    background-color: #f6f6f6;
    font-family:'Franklin Gothic Medium', 'Arial Narrow'; 
}
.txt-center{
    text-align: center;
}
/*================注册================*/
.header{
    height: 100px;
}
.header .logo{
    width: 196px;
    height: 72px;
    margin-top: 16px;
    float: left;
    background: url(../image/logo.png) no-repeat
}
.header .logo-title {
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    padding-left: 20px;
    margin-top: 36px
}
.header .have-account {
    font-size: 16px;
    float: right;
    margin-top: 55px;
    color: #999
}
.header .have-account a {
    color: #333
}
.jumbotron{
    height:450px;
    margin-top:0px;
    margin-bottom:10px;
    background: url(../image/register_bg.jpg) center center no-repeat;
    padding: 0;
}
.form{
    margin-left:68%;
    margin-top:2%;
    background-color:white;
    padding:20px;
}
.form .error_tip{
    font-size: 12px;
    color:#e62e2e;
    display:none;
}
.form .error_tip2{
    float:right;
    height:24px;
    line-height:24px;
    font-size: 12px;
    color:#e62e2e;
    display:none;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝登录＝＝＝＝＝＝＝＝＝＝＝ */
.login-change{
    font-size: 18px;
}
.form_con .input-group{
    margin-bottom: 20px;

}
.login-change i{
    color: #e9e9e9;
}
.login-change>a{
    display: inline-block;
    width: 46%;
    text-align: center;
}
.form_con .wjmima{
    font-size: 14px;
    float: right;
    margin: -10px 5px 10px;
    color:#999;
}

.login-more .last0a{
    float: right;
    color: #c81623;
    line-height: 50px;
}
.active_con{
    display: none;
}

.scan-login{
    width: 324px;
    height: 237px;
    text-align: center;
}
.scan-login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scan-login .img-con{
    width: 200px;
    height: 200px;
    margin-top:10px; 
}

#login_QQ{
    line-height: 18px;
    display: inline-block;
    margin-right:10px;
}
/* #login_QQ span{
    display: inline-block;
    height: 18px;
    line-height: 10px;
} */

#login_QQ i{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url('../image/qq32.png');
    background-size: 100% 100%;
    /* background-color: #488bac; */
    margin-bottom: -4px;
    
}
#login_WB i{
    display: inline-block;
    background-image: url('../image/sina32.png');
    background-size: 100% 100%;
    /* background-color:#cd375e; */
    width: 18px;
    height: 18px;
    margin-bottom: -4px;
}
